<div>
	<h1>Basic Demo</h1>
	<h2>Loads and replaces a component using SystemJS</h2>
	<img
		src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcultofthepartyparrot.com%2Fparrots%2Fhd%2Fsadparrot.gif?source=ig"
		class="o-load"
		data-o-component="o-load"
		data-o-load-module-url="./test-component.js"
	/>
</div>
